# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons folder when downloading from the Asset Library.
/**          export-ignore
/addons      !export-ignore
/addons/**   !export-ignore
/addons/godot_dotnet_mcp/dotnet_bridge/** export-ignore
/addons/godot_dotnet_mcp/plugin/runtime/roslyn/** export-ignore
/addons/godot_dotnet_mcp/plugin/runtime/roslyn_runtime/** !export-ignore
