<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>AnyCPU</Platform>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <UseAppHost>true</UseAppHost>
    <PublishTrimmed>false</PublishTrimmed>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <PublishDir>bin\Release\net8.0\win-x64\publish\</PublishDir>
  </PropertyGroup>
</Project>
